html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.2rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header, .map, .sidebar {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 4px 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  z-index: 10;
  background-color: #ff6f00;
  color: #fff;
}
h1 {
  font-size: 2.0rem;
  line-height: 1em;
  margin: 0;
}
.map, .sidebar {
  top: 0px;
  bottom: 0;
}
.map {
  left: 0;
  right: 400px;
}
.sidebar {
  right: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: -2px 0px 2px rgba(0,0,0,0.1);
  z-index: 5;
}
.sidebar .header {
  background: #333;
  color: #fff;
  min-height: 34px;
  padding-left: 80px;
}
.sidebar .header li {
  float: left;
  padding: 10px;
  background-color: #454545;
  opacity: 0.2;
  cursor: pointer;
}
.sidebar .header li:hover,
.sdiebar .header li:active,
.sidebar .header li.selected {
  opacity: 1;
}
.sidebar .header li img {
  margin: -10px 0;
}
.sidebar .header li:hover {
  background-color: #454545;
}
#marker-list li {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
}
#marker-list li:nth-child(odd) {
  background-color: rgba(0,0,0,0.04);
}
#marker-list li:hover, #marker-list li:focus {
  cursor: pointer;
  box-shadow: inset 4px 0 0 #ff6f00, 0 2px 2px rgba(0,0,0,0.1), 0 -2px 2px rgba(0,0,0,0.1);;
  outline: none;
  background: #fff;
}
#marker-list.filtered li {
  display: none;
}
#marker-list.filtered li.show {
  display: block;
}
#marker-list li time {
  text-align: right;
  display: block;
  color: #666;
  background-color: rgba(0,0,0,0.04);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  width: 80px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#marker-list li time:after {
  background: #fff;
  border: 1px solid #ddd;
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 20px;
  right: -5px;
}
#marker-list li .content {
  background-repeat: no-repeat;
  background-position: 20px 20px;
  padding: 20px 20px 20px 40px;
  margin-left: 80px;
}
#marker-list li.audio .content {
  background-image: url(images/icon-audio-sm.png);
}
#marker-list li.note .content {
  background-image: url(images/icon-note-sm.png);
}
#marker-list li.image .content {
  background-image: url(images/icon-image-sm.png);
}
#marker-list li.video .content {
  background-image: url(images/icon-video-sm.png);
}
#marker-list li.geo .content {
  background-image: url(images/icon-geo-sm.png);
}
audio {
  width: 100%;
  margin-top: 10px;
}
